*{
padding: 0;
margin: 0;
}

.intro
{
 color: white;
}

body {background-color: red;}

.modal hr.my-3 {
  border-top: 2px solid #000;
  opacity: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}




